@{
  Layout = "_Layout";
}

@using ProjectVendor.Models;

<h1>Orders</h1>

@if (@Model.Count == 0)
{
  <h3>No Orders have been added yet!</h3>
}

@foreach (Order order in Model)
{
  <p> Below is information regarding the order for this vendor:</p>
  <h3>Name:<a href='/order/@order.Id'>@order.Name</a></h3>
  <h3>Description:<a href='/order/@order.Id'>@order.Description</a></h3>
  <h3>Quantity: <a href='/order/@order.Id'>@order.Quantity</a></h3>
  <h3>Cost:<a href='/order/@order.Id'>@order.Cost</a></h3>

}

<p><a href='/'>Back home</a></p>
<p><a href="/vendors">Back to Vendors.</a></p>
